body {
    margin: 0;
    color: rgba(28, 54, 83, 0.7);
    font-family: 'Open Sans';
}

* {
    box-sizing: border-box;
}

.container {
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
}

a {
    text-decoration: none;
    color: inherit;
}

.fw-1{
    font-weight: 100;
}

.fw-2{
    font-weight: 200;
}

.fw-3{
    font-weight: 300;
}

.fw-4{
    font-weight: 400;
}

.fw-5{
    font-weight: 500;
}

.fw-6{
    font-weight: 600;
}

.fw-7{
    font-weight: 700;
}

.fw-8{
    font-weight: 800;
}

.fw-9{
    font-weight: 900;
}

.m-0 {
    margin: 0;
}

.head-1{
    font-size: 40px;
}

.head-4 {
    font-size: 15px;
}

.head-6 {
    font-size: 11px;
}

.f-left {
    float: left;
}

.f-right {
    float: right;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    display: inline-block;
    list-style: none;
    vertical-align: middle;
}

.center-align {
    text-align: center;
}

.btn-default {
    background: #ff5274;
    border-radius: 40px;
    color: #fff;
    border: 2px solid #ff5274;
    padding: 12px 48px;
}

.btn-outline {
    background: transparent;
    border-radius: 40px;
    border: 2px solid #ff5274;
    color: #ff5274;
    padding: 12px 48px;
}

.btn-outline:hover {
    background: #ff5274;
    color: #fff;
    transition: 0.4s;
    border: 2px solid #ff5274;
}

.caption {
    font-weight: 300;
    line-height: 1.67;
    font-size: 15px;
}