.sedna-header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 10;
}

.sedna-header.is-fixed {
    background-color: rgba(38, 43, 57, 1);
    box-shadow: 2px 2px 5px #2b2b33;
}

.header-content {
    padding: 38px 20px 28px 20px;
    position: relative;
}

.header-content::after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    border-bottom: 1px solid #fff;
    width: 96%;
    margin: auto;
}

.company-logo {
    margin-right: 70px;
}

.company-logo .company-logo__img {
    width: 104px;
    height: 30px;
    object-fit: contain;
}

.nav-list {
    display: inline-block;
    vertical-align: top;
    margin-top: 4px;
}

.nav-list li {
    display: inline-block;
    margin-left: 16px;
    font-size: 13px;
    color: #fff;
}

.nav-list li:hover, .login-signin:hover {
    color: #ff5274;
    transition: 0.4s;
}

.company-register {
    font-size: 13px;
}

.login-signin {
    margin: 0 20px;
    color: #fff;
    display: inline-block;
}

.signup-btn {
    color: #fff;
    border: 2px solid #fff;
    padding: 8px 30px;
    display: inline-block;
}

.about-sedna {
    height: 750px;
    background-color: rgba(38, 43, 57, 0.9);
}

.about-sedna::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    background-image: url(../images/hero-image-01.png);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 750px;
    z-index: -1;
}

.about-content {
    margin: auto;
    max-width: 830px;
    padding: 250px 0 210px 0;
}

.about-content .about-content__heading {
    color: #fff;
}

.about-content .about-content__caption {
    color: #fff;
    margin: 15px 0 0 0;
    font-size: 20px;
}

.about-content__buttons {
    margin-top: 84px;
}

.about-content__buttons .download-learn__btn {
    font-size: 13px;
    padding: 18px 0;
    display: inline-block;
    margin: 0 10px;
    width: 210px;
}

.sedna-features {
    padding: 120px 0;
}

.sedna-features-list li {
    width: calc((100% - 10px)/ 3);
    vertical-align: top;
    display: inline-block;
}

.sedna-features-list .feature-figure, .advantages-list__features .feat .feat-figure {
    display: inline-block;
    width: 40px;
    vertical-align: top;
    margin-right: 24px;
}

.sedna-features-list .feature-content, .advantages-list__features .feat .feat-content {
    display: inline-block;
    max-width: 274px;
}

.sedna-features-list .feature-caption {
    margin: 10px 0 0 0;
}

.sedna-features-list .feature-icon {
    width: 40px;
    height: 40px;
    margin-right: 24px;
    object-fit: contain;
}

.sedna-advantages {
    border: 1px solid #e6e9ea;
    background: #f7f8fa;
    position: relative;
    padding: 110px 0;
    overflow: hidden;
}

.product-images .large-product {
    width: 550px;
    object-fit: contain;
    position: absolute;
    left: -120px;
}

.product-images .small-product {
    width: 300px;
    object-fit: contain;
    position: absolute;
    bottom: -24%;
    left: 22%;
}

.advantages-list .advantages-list__article {
    width: 422px;
    margin-left: auto;
}

.advantages-list .advantages-list__article .advantages-list__caption {
    margin: 20px 0;
}

.advantages-list__features {
    margin-top: 40px;
}

.advantages-list .advantages-list__article .advantages-list__features .feat-content__caption {
    padding-top: 10px;
}

.advantages-list__features .feat {
    padding: 20px 0;
    border-bottom: 1px solid #e6e9ea;
}

.advantages-list__features .feat:last-child {
    border-bottom: none;
}

.about-sketch {
    position: relative;
    padding: 136px 0 290px 0;
}

.about-sketch__content {
    max-width: 422px;
}

.about-sketch__content .sketch-btn {
    font-size: 13px;
    padding: 10px 35px;
    display: inline-block;
    margin: 24px 0;
}

.about-sketch .about-sketch__figure .device-image {
    position: absolute;
    top: 110px;
    right: 0;
    width: 730px;
    object-fit: contain;
}

.download-section {
    background: rgb(61, 67, 81, 0.8);
    position: relative;
    padding: 100px 0;
}

.download-content .download-content__head{
    color: #fff;
}

.download-content .sketch {
    display: inline;
}

.download-content .sketch .superscript-text {
    font-size: 25px;
    color: #f69d52;
}

.download-content__caption {
    margin: 16px 0 0 0;
    font-size: 16px;
    color: #acb1b4;
    line-height: 1.56;
}

.download-content .download-btn {
    display: inline-block;
    margin: 50px 0 100px 0;
}

.download-content .sketch-figure {
    position: absolute;
    bottom: -18%;
    left: 0;
    right: 0;
}

.download-content .sketch-figure .sketch-logo {
    width: 230px;
    object-fit: contain;
}

.product-section {
    background: #f7f8fa;
    padding: 180px 0 120px 0;
}

.product-section .product-content {
    padding-bottom: 108px;
}

.product-features .product-features__list {
    padding-top: 82px;
}

.product-features .product-features__list li {
    max-width: calc((100% - 15px)/ 2);
    display: inline-block;
}

.product-features .product-features__list li:first-child {
    padding-right: 100px;
    border-right: 1px solid #e6e9ea;
}

.product-features .product-features__list li:last-child {
    padding-left: 100px;
}

.product-features .product-features__list li .product-features__head {
    padding-bottom: 20px;
}

.product-features .product-features__list li .product-features__caption {
    line-height: 2;
    color: #7a8387;
}

.product-section .product-section__figure {
    display: inline-block;
    vertical-align: top;
}

.product-section .product-section__figure .product-picture {
    height: 300px;
    width: 450px;
    margin: 0 -2px;
    object-fit: contain;
}

.product-section .product-section__figure .product-caption {
    color: #677074;
    padding: 10px 0;
    display: inline-block;
}

.product-section .arrow-right {
    width: 6px;
    height: 15px;
    color: #677074;
    padding-top: 5px;
}

.product-section .product-btn {
    margin-top: 56px;
}

.product-section .product-btn .more-news {
    display: inline-block;
    padding: 10px 36px;
    font-size: 13px;
}

.slider-section {
    height: 500px;
    position: relative;
}

.sedna-carousel--1 {
    background: url(../images/slider.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    padding: 136px 0;
}

.sedna-carousel--1 .user-image {
    width: 80px;
    border-radius: 50%;
    border: 3px solid #fff;
}

.sedna-carousel--1 .sedna-carousel--1__head {
    font-style: italic;
    padding: 28px 0;
    color: #fff;
}

.sedna-carousel--1 .sedna-carousel--1__caption {
    letter-spacing: 2px;
    color: #acb1b4;
}

.slider-arrows{
    color: #fff;
}

.slider-arrows .prev-btn {
    position: absolute;
    top: 50%;
    left: 56px;
    transform: scaleX(-1);
}

.slider-arrows .next-btn {
    position: absolute;
    top: 50%;
    right: 56px;
}