.sedna-header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 10;
}

.sedna-header.is-fixed {
    background-color: rgba(38, 43, 57, 1);
    box-shadow: 2px 2px 5px #2b2b33;
}

.header-content {
    padding: 38px 20px 28px 20px;
    position: relative;
}

.header-content::after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    border-bottom: 1px solid #fff;
    width: 96%;
    margin: auto;
}

.company-logo {
    margin-right: 70px;
    display: inline-block;
}

.company-logo .company-logo__img {
    width: 104px;
    height: 30px;
    object-fit: contain;
}

.nav-list {
    display: inline-block;
    vertical-align: top;
    margin-top: 4px;
}

.nav-list li {
    margin-left: 16px;
    font-size: 13px;
    color: #fff;
}

.nav-list li:hover, .login-signin:hover {
    color: #ff5274;
    transition: 0.4s;
}

.company-register {
    font-size: 13px;
}

.login-signin {
    margin: 0 20px;
    color: #fff;
    display: inline-block;
}

.signup-btn {
    color: #fff;
    border: 2px solid #fff;
    padding: 8px 30px;
    display: inline-block;
}

.about-sedna {
    height: 650px;
    background-color: rgba(38, 43, 57, 0.9);
    margin-top: 100px;
}

.about-sedna::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    background-image: url(../images/hero-image-01.png);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 650px;
    z-index: -1;
}

.about-content {
    margin: auto;
    max-width: 830px;
    padding: 146px 0;
}

.about-content .about-content__heading {
    font-size: 60px;
    color: #fff;
    font-weight: normal;
}

.about-content .about-content__caption {
    font-size: 20px;
    font-weight: 300;
    color: #fff;
    margin: 15px 0 0 0;
}

.about-content__buttons {
    margin-top: 84px;
}

.about-content__buttons .download-learn__btn {
    font-size: 13px;
    padding: 18px 0;
    display: inline-block;
    margin: 0 10px;
    width: 210px;
}

.sedna-features {
    padding: 120px 0;
}

.sedna-features-list li {
    width: calc((100% - 10px)/ 3);
    vertical-align: top;
}

.sedna-features-list .feature-figure, .features-list-2 .feat figure {
    display: inline-block;
    width: 40px;
    vertical-align: top;
}

.sedna-features-list .feature-content, .features-list-2 .feat div {
    display: inline-block;
    width: 264px;
    margin-left: 24px;
}

.sedna-features-list .feature-caption {
    margin: 10px 0 0 0;
}

.sedna-features-list .feature-icon {
    width: 40px;
    height: 40px;
    object-fit: contain;
}

.sedna-features-2 {
    border: 1px solid #e6e9ea;
    background: #f7f8fa;
    height: 760px;
    overflow: hidden;
    position: relative;
}

figure .ipad {
    width: 550px;
    object-fit: contain;
    position: absolute;
    top: 120px;
    left: -120px;
}

figure .iphone-6 {
    width: 300px;
    object-fit: contain;
    position: absolute;
    top: 368px;
    left: 306px;
}

.feature2-content, .about-sketch-content {
    overflow: auto;
}

.feature2-content article, .about-sketch-content article {
    width: 422px;
    margin-top: 144px;
}

.feature2-content article h2, .about-sketch-content article h2 {
    font-weight: 300;
}

.feature2-content article p {
    padding-top: 20px;
}

.features-list-2 {
    margin-top: 40px;
}

.feature2-content article .features-list-2 p {
    padding-top: 10px;
}

.features-list-2 .feat {
    padding: 20px 0;
    border-bottom: 1px solid #e6e9ea;
}

.features-list-2 .feat:last-child {
    border-bottom: none;
}

.about-sketch {
    position: relative;
    height: 760px;
}

.about-sketch-content article .sketch-btn {
    font-size: 13px;
    font-weight: 600;
    padding: 10px 35px;
    display: inline-block;
    margin: 60px 0;
}

.about-sketch figure .macbook-pro {
    position: absolute;
    top: 100px;
    right: 0;
    width: 730px;
    height: 530px;
    object-fit: contain;
}

.download-section {
    height: 500px;
    background: rgba(61, 67, 81, 0.8);
    position: relative;
    padding-top: 100px;
}

.download-content h1 {
    margin: 0;
    font-size: 40px;
    font-weight: 300;
    color: #fff;
}

.download-content h1 p.sketch {
    font-weight: 200;
    display: inline;
}

.download-content sup {
    font-size: 25px;
    font-weight: 200;
    color: #f69d52;
}

.download-content--para {
    font-size: 16px;
    font-weight: 300;
    color: #acb1b4;
    line-height: 1.56;
}

.download-content a {
    display: inline-block;
    margin: 60px 0;
}

.product-section {
    background: #f7f8fa;
}

.product-section .product-content {
    padding: 178px 0 108px 0;
}

.product-features ul {
    padding-top: 82px;
}

.product-features ul li {
    display: inline-block;
    width: calc((100% - 15px)/ 2);
}

.product-features ul li:first-child {
    padding-right: 100px;
    border-right: 1px solid #e6e9ea;
}

.product-features ul li:last-child {
    padding-left: 100px;
}

.product-features ul li h4 {
    padding-bottom: 20px;
    font-weight: 600;
}

.product-features ul li p {
    font-weight: 300;
    font-size: 15px;
    line-height: 2;
    color: #7a8387;
}

.product-section {
    padding-bottom: 130px;
}

.product-section figure {
    display: inline-block;
    vertical-align: top;
}

.product-section figure img {
    height: 300px;
    width: 450px;
    margin: 0 -2px;
    object-fit: contain;
}

.product-section figure figcaption a {
    font-weight: 300;
    color: #677074;
    font-size: 15px;
    padding: 10px 0;
    display: inline-block;
}

.product-section figure figcaption a span img {
    width: 6px;
    height: 15px;
    color: #677074;
    padding-top: 5px;
}

.product-section .product-btn {
    margin-top: 56px;
}

.product-section .product-btn .more-news {
    display: inline-block;
    padding: 10px 36px;
    font-size: 13px;
    font-weight: 600;
}

.sedna-carousel--1 {
    height: 500px;
}

.sedna-carousel--1__content {
    background: url(../images/slider.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    padding-top: 136px;
}

.sedna-carousel--1__content figure img {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    object-fit: contain;
    border: 3px solid #fff;
}

.sedna-carousel--1__content h1 {
    font-size: 40px;
    font-weight: 300;
    font-style: italic;
    color: #fff;
    padding: 28px 0;
}

.sedna-carousel--1__content p {
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 2px;
    color: #acb1b4;
}